<!DOCTYPE html>
<html>
   <head>
    {{>partials/head}}
  </head>
  <body>
    {{> partials/header}}
    <section id="about" class="row">
        <section class="twelve columns" >
          <div class="center">
              <p>
                I am a professional website and application engineer with a passion for music and visual arts. 
                <br>I do Professional photography and hi-end retouching
                <div class="list">
                    <ul>
                      <li>fashion</li>
                      <li>headshots</li>
                      <li>products</li>
                    </ul>
                </div>                
                     
                  see my career on <a href="https://www.linkedin.com/in/alecorsino" rel="noopener noreferrer" target="_blank">linkedIn</a>

              </p>
              <p>
                I compose and arrange music. Listen my tunes on <a href="https://soundcloud.com/alejandro-corsino" rel="noopener noreferrer" target="_blank">soundcloud</a>
              </p>
          </div>
        </section>
    </section>
    {{> partials/footer}}
      <script src="../scripts/common.js" charset="utf-8"></script>
      <script src="../scripts/about.js" charset="utf-8"></script>
  </body>
</html>
