<!DOCTYPE html>
<html>
  <head>
    {{>partials/head}}
  </head>
  <body>
    {{> partials/header}}
    <section id="contact" class="row">
        <section class="twelve columns">
          <img src="../assets/img/ac-logo-stamp.svg" alt="" />
          <div class="tagline animated pulse ">
                info@corsinoart.com
          </div>
        </section>
    </section>
    {{> partials/footer}}
      <script src="../scripts/common.js" charset="utf-8"></script>
      <script src="../scripts/about.js" charset="utf-8"></script>
  </body>
</html>
