<!DOCTYPE html>
<html>
    <head>
      {{>partials/head}}
    </head>
    <body>
          <section id="loading" class="row">
            <section class="twelve columns">
              <a href="home.html">
                <div class="index-screen">
                  <img src="../assets/img/ac-logo-stamp.svg" alt="" />
                  <div class="tagline animated pulse infinite">
                    loading...
                  </div>
                </div>
              </a>
            </section>
        </section>
        {{>partials/pic-section}}
        <script src="scripts/common.js" charset="utf-8"></script>
        <script src="scripts/index.js" charset="utf-8"></script>
    </body>
</html>
