<footer class="container">
        <div class="row">
          <section class="twelve column">
            <div>
              Alejandro Corsino | &copy;2016 | Sydney - Los Angeles
            </div>
            <div class="social">
              <a href="https://www.facebook.com/corsinoart/" rel="noopener noreferrer" target="_blank">
                <span class="fa-stack">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
              <a href="https://www.instagram.com/alecorsino/" rel="noopener noreferrer" target="_blank">
                <span class="fa-stack">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
              </a>
              <a href="https://500px.com/alecorsino" rel="noopener noreferrer" target="_blank">
                <span class="fa-stack ">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-500px fa-stack-1x fa-inverse"></i>
                </span>
              </a>
              <!-- <span class="fa-stack ">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
              </span> -->
            </div>

          </div>
        </div>
</footer>
