<footer class="container">
        <div class="row">
          <section class="twelve column">
            <div class="text">
              <div class="text-1">
                Sydney | Los Angeles | Vancouver
              </div>
              <div class="text-2">
                Alejandro Corsino - &copy;2017
              </div>
            </div>
            
            <div class="social">
              <a href="https://www.facebook.com/corsinoart/" rel="noopener noreferrer" target="_blank">
                <span class="fa-stack">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
              <a href="https://www.instagram.com/alecorsino/" rel="noopener noreferrer" target="_blank">
                <span class="fa-stack">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
              </a>
              <a href="https://500px.com/alecorsino" rel="noopener noreferrer" target="_blank">
                <span class="fa-stack ">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-500px fa-stack-1x fa-inverse"></i>
                </span>
              </a>
              <a href="https://www.linkedin.com/in/alecorsino" rel="noopener noreferrer" target="_blank">
                <span class="fa-stack ">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin-square fa-stack-1x fa-inverse"></i>
                </span>
              </a>
              <a href="https://soundcloud.com/alejandro-corsino" rel="noopener noreferrer" target="_blank">
                <span class="fa-stack ">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-soundcloud fa-stack-1x fa-inverse"></i>
                </span>
              </a>
              <!-- <span class="fa-stack ">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
              </span> -->
            </div>

          </div>
        </div>
</footer>
