<header class="container">
    <section class="row ">
      <section class="twelve column relative">
         <div class="banner">
          <img class="animated slideInLeft" src="../../assets/img/acbanner.svg" alt="" />
          <div class="tagline animated rollIn">
            photography & digital art
          </div>
        </div> 
        <div class="header-links">
          <a class="animated zoomIn" href="index.html">Home</a>
          <a class="animated zoomIn" href="about.html">about</a>
          <a class="animated zoomIn" href="contact.html">contact</a>
        </div>
      </section>
        <!-- <section class="two-thirds column">

        </section> -->

    </section>
</header>
