<header class="container">
    <section class="row ">
      <section class="twelve column relative">
        <div class="banner">
          <img class="animated slideInLeft" src="../../assets/img/ac-banner.svg" alt="" />
          <div class="tagline animated rollIn">
            photography & digital art
          </div>
        </div>
        <div class="header-links">
          <a class="animated zoomIn" href="">Home</a>
          <a class="animated zoomIn" href="">about</a>
          <a class="animated zoomIn" href="">more</a>
        </div>
      </section>
        <!-- <section class="two-thirds column">

        </section> -->

    </section>
</header>
