<header class="container">
    <section class="row ">
      <section class="twelve column relative">
        <div class="banner">
          .
          <img src="../../assets/img/ac-banner.svg" alt="" />
        </div>
        <div class="header-links">
          <a href="">Home</a>
          <a href="">about</a>
          <a href="">more</a>
        </div>
      </section>
        <!-- <section class="two-thirds column">

        </section> -->

    </section>
</header>
