<header class="container">
    <section class="row ">
      <section class="one-third column">
        <div class="banner">
          <img src="../../assets/img/ac-banner.svg" alt="" />
        </div>
      </section>
        <section class="two-thirds column">
          <div class="header-links">
            <a href="">Home</a>
            <a href="">about</a>
            <a href="">more</a>
          </div>
        </section>

    </section>
</header>
