<div id="index" style="display:none">
{{> header}}
<main id="pic-section" class="container">

    <section class="row center">

        <section class="twelve columns">
            <div class="pic-holder">
              <div class="pic-row">
                <img src="../../assets/pics/rusia-01.jpg" data-mfp-src="../../assets/pics/rusia-01@2x.jpg" alt="" />
                <img src="../../assets/pics/carmel.jpg" data-mfp-src="../../assets/pics/carmel@2x.jpg" alt="" />
                <img src="../../assets/pics/brett.jpg" data-mfp-src="../../assets/pics/brett@2x.jpg" alt="" />
              </div>
              <div class="pic-row">
                <img src="../../assets/pics/catWalk-2015.jpg" data-mfp-src="../../assets/pics/catWalk-2015@2x.jpg" alt="" />
                <img src="../../assets/pics/carmel-city.jpg" data-mfp-src="../../assets/pics/carmel-city@2x.jpg" alt="" />
              </div>
              <div class="pic-row">
                <img src="../../assets/pics/icecream.jpg" data-mfp-src="../../assets/pics/icecream@2x.jpg" alt="" />
                <img src="../../assets/pics/pfeiffer-beach.jpg" data-mfp-src="../../assets/pics/pfeiffer-beach@2x.jpg" alt="" />
              </div>
              <div class="pic-row">
                <img src="../../assets/pics/melting_flower.jpg" data-mfp-src="../../assets/pics/melting_flower@2x.jpg" alt="" />
                <img src="../../assets/pics/antelope-VEye.jpg" data-mfp-src="../../assets/pics/antelope-VEye@2x.jpg" alt="" />
              </div>
              <div class="pic-row">
                <img src="../../assets/pics/arizona-01.jpg" data-mfp-src="../../assets/pics/arizona-01@2x.jpg" alt="" />

              </div>
            </div>
        </section>
    </section>
</main>

{{> footer}}
</div>
