#about
  div
    +screen-min($tablet)
      width: 60%
    margin: 2em auto
  a
   color: darken($primary-color, 20%)
   font-weight: bold

  .list
    margin-left: 25%
    margin-right: auto
    +screen-min($tablet)
      width: 25%
      margin-left: auto

  ul
    text-align: initial
  li
    list-style-position: inside
    list-style-type: square