#about
  div
    width: 60%
    margin: 2em auto
  a
   color: darken($primary-color, 20%)
   font-weight: bold

  .list
    width: 25%
    margin-left: auto
    margin-right: auto

  ul
    text-align: initial
  li
    list-style-position: inside
    list-style-type: square