footer
  margin: 2rem auto !important
  +screen-min($tablet)
    margin: 5rem auto !important
  text-align: center
  
  .social
    margin .7rem 0
    span
      margin: 0 .7rem
  
  .text-1
    +screen-min($mobile)
      font-size: .8em
  .text-2
    +screen-min($mobile)
      font-size: .6em