.banner
  text-align: center
  img
   width 15em
  +screen-min($tablet)
    img
     width 18em
  +screen-min($screen)
    img
     width 20em

header
  // margin-bottom: 1em !important
  .column,
  .columns
    text-align: center
    margin-left: 0 !important
  +screen-min($tablet)
    margin-top: 1em !important
    margin-bottom: 1em !important
  +screen-min($screen)
    margin-top: 1em !important
    margin-bottom: 1em !important
