.index-screen
  width: 15rem
  height: 15rem
  +screen-min($tablet)
    width: 30rem
    height: 30rem
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto
  text-align: center
  img
    animation:spin 13s ease-in-out infinite
    // animation-delay: .5s
  .tagline
    font-size: 2.2rem
    font-weight: 200
    transform:scale(1,.72)
    letter-spacing: 2px
    margin: 1.5rem 0

@keyframes spin { 100% { transform:rotate(360deg); } }
