@import 'vars_utils'

@import 'skeleton/normalize'
@import 'skeleton/skeleton_custom'
@import 'nib'

@import 'fonts'
@import 'about'
@import 'pictures'
@import 'header'
@import 'footer'
@import 'index'
@import 'contact'

html
  font-size: 62.5%

body
  // font-family: 'Josefin Sans', sans-serif
  color: rgb(130, 130, 130)
  font-family: 'Raleway', sans-serif;
  font-size: 1.4rem
  font-weight: 400
  background: #FFFFFF


main
  min-height: 100%

h1   { font-size: 2.4rem; } /* =24px */

a
  text-decoration: none
  color: inherit

.center
  text-align: center
