@import 'vars_utils'

@import 'skeleton/normalize'
@import 'skeleton/skeleton_custom'
@import 'nib'

@import 'fonts'
@import 'about'
@import 'pictures'
@import 'header'

html
  font-size: 62.5%

body
  font-family: 'Josefin Sans', sans-serif
  font-size: 1.5em
  font-weight: 400
  background: #FFFFFF

footer
  background-color: #efefef
  text-align: center

main
  min-height: 100%
