@import 'skeleton/normalize'
@import 'skeleton/skeleton_custom'

@import vars
@import mixins
@import fonts
@import about
@import pictures
@import 'nib'

body
  font-family: 'Josefin Sans', sans-serif
  background: #FFFFFF

.banner
  text-align: center
  img
   width 15em
  +screen-min($tablet)
    img
     width 18em
  +screen-min($screen)
    img
     width 20em

header
  .column
  text-align: center
  +screen-min($tablet)
    margin-top: 1em !important
    margin-bottom: 1em !important
  +screen-min($screen)
    margin-top: 1em !important
    margin-bottom: 1em !important

footer
  background-color: #efefef
  text-align: center

main
  min-height: 100%
