#pic-section
  .column,
  .columns
    margin-left: .5% !important
  .column:first-child,
  .columns:first-child
    margin-left: 0 !important

.pic-holder
  white-space: nowrap;
  // background: #F1F1F1;
  img
    width: 100%
