#pic-section
.pic-holder
  // height: 600px
  img
    display: inline-block; //block
    max-width: 100%
    max-height: 100%
    height: auto

.pic-row
  font-size: 0
  +screen-max($mobile-max)
    height: 100% !important
  letter-spacing: -1px
  margin: 0
  padding: 0
  border: 0
