$mobile = 320px
$mobile-max = 480px

$tablet = 436px
$screen = 769px


$gutter = 0 //Unit represnt percentage

/*
* Mixins
*/

/*
* Screen min-size media queries block.
* This mixin can be added anywhere to target different breakpoints
*/
screen-min(minWidth)
    @media screen and (min-width: minWidth)
        {block}

screen-max(maxWidth)
    @media screen and (max-device-width: maxWidth)
        {block}
// ****** Functions and Mixins ********

/* Calculates column size percentage  based on a 12 column layout*/
column-size(colSpan)
  100 * colSpan/12 - $gutter + $gutter * colSpan/12

column-offset(colOffset)
  round(((column-size(1) + $gutter) * colOffset),2)
